dist
dev-dist
.local
.output.js
node_modules
.nvmrc
coverage
CODEOWNERS
.nitro
.output
.vendor
apps/web-antd/build/*.js
apps/web-antd/build/*.test.ts
apps/web-antd/build/__tests__
packages/icons/src/iconify/*.generated.ts


**/*.svg
**/*.sh

public
.npmrc
*-lock.yaml
